<!DOCTYPE html>
<html>
<head>
  <title>Share Knowledge</title>
  <div class="header">
    <h1>Share knowledge </h1>
    <%= link_to "Add  Student", "students/new", :class=>"addStudent" %>
    <%= link_to "Sign in with Facebook", "auth/facebook", :class=>"addStudent" %>
  </div>

  <% @students.each do |user| %>
      <div class="student">
        <div class="student_pic">
          <%= image_tag user.picture %>
        </div>
        <div class="student_details">
          Name: <%= user.name %><br><br>
          Address: <%= user.address %><br><br>
          interset: <%= user.interest %><br><br>
          <a class="know_more" href="">Know More..</a>
          <hr>
        </div>
      </div>
  <% end %>
</head>
<body>
</body>
</html>
